apiVersion: v1
kind: Service
metadata:
  name: {{ include "tensafe.fullname" . }}
  labels:
    {{- include "tensafe.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "tensafe.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: server
